<div *ngIf="employee" style="margin-bottom: 20px">
    <h2><span jhiTranslate="employee.detail.title">Employee: </span> <strong>{{employee.firstName}}</strong></h2>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-block">
                        <dl class="row-md jh-entity-details">
                            <dt><span jhiTranslate="employee.firstName">First Name</span></dt>
                            <dd>
                                <span>{{employee.firstName}}</span>
                            </dd>
                            <dt><span jhiTranslate="employee.lastName">Last Name</span></dt>
                            <dd>
                                <span>{{employee.lastName}}</span>
                            </dd>
                            <dt><span jhiTranslate="employee.email">Email</span></dt>
                            <dd>
                                <span>{{employee.email}}</span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>
</div>
